#details
  %h3 Welcome to the Wikileaks 'Cablegate' app
  %p<
    Wikileaks was taken down in a blatant attack on free speech. This app has an archive of the 'cablegate' files in its public directory.
  %p<
    more to come.
  %a{ :href => '/articles/2010/index.html'} Start here.
