#details
  %h3 A 'Cablegate' mirror app
  %p<
    Wikileaks was taken down by in a blatant attack on free speech.
    This is a simple app that mirrors an archive of the 'cablegate' files in its public directory and which can easily be deployed to Heroku.
  %p<
    There is more to come but in the meantime 
    %a{ :href => '/articles/2010/index.html'} start here.
